<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bobby's Favourite Simpson's Epsiodes</title>
    <link href="/resources/compiled/css/main.css" rel="stylesheet">
    <head>
<body>
    <div class="row">   
        <h3 class="text-danger">Sorry, there was an error. Please try again by reloading the page.</h3>
    </div>
<script type="text/javascript" src="/resources/compiled/js/main.js"></script>
</body>
</html>